body {
  padding: 0; margin: 0;
  font-family: serif;
  background-image: url("http://hiyokomanjiu.github.io/nanairobox/img/cotton-f.png");
}

#mainContainer {
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
}

#title {
  padding-top: 3rem;
}

#title h1 {
  padding: 0; margin: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 4rem;
  position: relative;
  z-index: 2;
  font-family: sans-serif;
  text-shadow: 0rem 0rem 0.5rem cyan;
}
#title img {
  margin-top: -5rem;
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  border: 1px solid lightgrey;
}

#portfolio {
}

#portfolio .thumb {
  margin-bottom: 1rem;
  display: inline-block;
  width : 19.5%;
  height : 10rem;
}

#portfolio .thumb .photo {
  width: 90%;
  height : 8rem;
  overflow: hidden;
}

#portfolio .thumb .photo img {
  width : 100%;
}

#portfolio .thumb .captionText {
  font-size: 0.8rem;
  height: 2rem;
  overflow: hidden;
}

#footer {
  color: white;
  clear : both;
  background-image: url("http://hiyokomanjiu.github.io/nanairobox/img/bg_craftpaper01.jpg");
  margin-top: 7rem;
  box-shadow: 0rem 0.5rem 5rem 1.2rem #603020;
}

#footerContents {
  max-width: 800px;
  min-width: 600px;
  padding-top: 3rem;
  margin: 0 auto;
  font-size: 0.9rem;
}
#footer h1 {
  padding: 0; margin: 0;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
}
#footer p {
  padding: 0; margin: 0;
  font-size: 0.8rem;
}

#site-info {
  width: 45%;
  float: left;
}

#profile {
  width: 45%;
  float: right;
}

#copyright {
  clear: both;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

ul#menu {
  padding: 0; margin: 0;
}

ul#menu li {
  padding: 0; margin: 0;
  display: inline-block;
  height: 3rem;
  padding: 1rem 1rem 0 1rem;
}

ul#link {
  padding: 0; margin: 0;
  display: inline-block;
}
ul#link li {
  padding: 0; margin: 0;
  display: block;
  font-size: 0.9rem;
  height: 1.5rem;
}

#pager {
  padding-top: 3rem;
  text-align : right;
  font-size: 0.8rem;
}

.underconstruction {
  color : lightgray;
}

#header {
  margin-bottom: 3rem;
  font-family : sans-serif;
}

.postPhoto {
}

.postPhoto .photoImage {
  float : left;
  width : 60%;
  margin-bottom: 5rem;
  text-align: center;
}
.postPhoto .photoImage img {
  max-width: 100%;
}
.postPhoto .photoData {
  width : 40%;
  float : right;
  font-size: 0.9rem;
}
.postPhoto hr {
  border: 1px solid lightgray;
}

ul#tags , ul#tumblrButtons{
  padding: 0; margin : 0;
  list-style-type: none;
}
ul#tags li, ul#tumblrButtons li {
  padding: 0 0.25rem; margin 0;
  display : inline-block;
  font-size: 0.9rem;
}
